.react-datepicker-wrapper,
.react-time-picker__wrapper {
  margin-bottom: 1rem;
  width: 100%;
}

.react-datepicker__input-container input,
.react-time-picker__inputGroup input {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-time-picker__button {
  color: #495057;
  min-width: 2rem;
  padding: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.timePicker input {
min-width: 70px;
padding: 5px;
margin: 0 2px;
}