/* login.css */

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .login-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .close-button {
    float: right;
    cursor: pointer;
  }
  
  .login-button {
    margin-top: 10px;
    cursor: pointer;
  }
  
  .switch-form-text span {
    color: blue;
    cursor: pointer;
  }
  