/* SignUp.css */

.signup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .signup-panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .close-button {
    float: right;
    cursor: pointer;
  }
  
  .signup-button {
    margin-top: 10px;
    cursor: pointer;
  }
  
  .switch-form-text span {
    color: blue;
    cursor: pointer;
  }
  
  .error {
    border-color: red;
  }
  
  .error-text {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.8em;
  }